*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0efe8;
}
header{
    background-color: #4caf50;
    text-align: center;
    padding: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 20px auto;
}
nav ul li a{
    text-decoration: none;
    color: rgb(121, 205, 177);
    font-weight: 600;
}
nav ul li:hover{
   background-color: rgb(243, 213, 213);
   padding: 2px 5px;
}
h2{
    margin: 50px 100px;
}
.price{
     color: rgb(95, 191, 159);
     margin: 20px 0;
     font-weight: 600;
}
.product-list{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}
.product{
    text-align: center;
    background-color: #fff;
   border-radius: 8px;
   margin-bottom: 15px;
   box-shadow: 0 0 7px rgb(189, 182, 182);
}
.product:hover{
   
    box-shadow:  0 0 20px rgb(189, 182, 182);
}
.product-list h2{
    margin: 10px;
}
.product-list img{
    width: 95%;
    border-radius: 8px;
    padding-top:15px;
}
.product-list article p{
    width: 90%;
    margin: 15px auto;
}
footer{
    background-color:#124314;
    text-align: center;
    color: white;
    padding: 40px;
    margin-top: 100px;
}
@media (min-width: 768px) {
    
    .product-list {
        flex-direction: row;
        justify-content: space-between;
        width: 710px; 
         gap: 3%;
    }
   .product{
     width: 35%;
   }
}
@media (min-width: 1024px) {
    .product-list {
        width: 990px;
        /* justify-content: space-between; */
    }
}